@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
}
ul li {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #999;
}
.clearFix::before,
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}
img {
  display: block;
}
input textarea {
  border: none;
  outline: none;
}
em,
i {
  font-style: normal;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.wrap {
  width: 1190px;
  margin: 0 auto;
}
.red {
  color: #e33333;
}
.circle-white {
  background: #fff !important;
}
.weight {
  font-weight: 600;
}
.arrow {
  z-index: 999;
  position: absolute;
  width: 25px;
  height: 35px;
  line-height: 35px;
  top: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: color 0.1s;
}
.sm-arrow:hover {
  display: block;
}
.nav {
  width: 100%;
  background-color: #E3E4E5;
  line-height: 30px;
  font-size: 12px;
  color: #999;
}
.nav .nav-list {
  background-color: #E3E4E5;
  height: 30px;
}
.nav .nav-list .bj {
  float: left;
  letter-spacing: 2px;
}
.nav .nav-list .bj:hover a {
  color: #f00;
}
.nav .nav-list .welcome {
  float: right;
}
.nav .nav-list .welcome li {
  cursor: pointer;
  float: left;
  margin-left: 15px;
}
.nav .nav-list .welcome li .join {
  margin-left: 10px;
}
.nav .nav-list .welcome li:hover {
  color: #f00;
}
.nav .nav-list .welcome li:hover a {
  color: #f00;
}
.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.board-Bg {
  background: #fff;
  width: 100%;
  height: 141px;
  border-bottom: 1px solid #ddd;
}
.board {
  height: 140px;
  background: #fff;
}
.board ul li {
  float: left;
}
.board ul .logo {
  width: 190px;
  height: 120px;
}
.board ul .logo a {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: block;
  width: 190px;
  height: 120px;
  background-position: 0 0;
}
.board ul .board-search {
  position: relative;
  margin-top: 25px;
  width: 490px;
  height: 36px;
  line-height: 29px;
  border: 2px solid #e3331a;
}
.board ul .board-search .camera {
  position: absolute;
  right: 100px;
  font-size: 24px;
  top: 2px;
  cursor: pointer;
}
.board ul .board-search input {
  background: transparent none repeat scroll 0% 0%;
  left: 0;
  padding: 2px 44px 2px 17px;
  width: 416px;
  height: 34px;
  border: 1px solid transparent;
  line-height: 34px;
  font-size: 12px;
  overflow: hidden;
}
.board ul .board-search button {
  width: 72px;
  height: 34px;
  color: #fff;
  border: none;
  position: absolute;
  right: -1px;
  top: 0;
  cursor: pointer;
  transition: all .2s;
  background-color: #e1251b;
}
.board ul .board-search button .fdj {
  position: absolute;
  left: 0;
  top: 1px;
  font-size: 28px;
}
.board ul .board-search button .fdj:hover {
  color: #fff;
}
.board ul .board-search button:hover {
  background-color: #f00;
}
.board ul .board-sm {
  font-size: 12px;
  text-align: left;
  margin-top: 6px;
  margin-left: -8px;
}
.board ul .board-sm span {
  margin-left: 7px;
}
.board ul .board-bg {
  width: 800px;
  margin-top: 6px;
  margin-left: -30px;
  font-size: 15px;
}
.board ul .board-bg a {
  color: #333 !important;
}
.board ul span {
  margin-left: 20px;
}
.board ul span:hover {
  color: #c81623;
}
.content {
  margin-top: 14px;
}
.content .content-item {
  height: 480px;
}
.content .content-item .bread {
  position: relative;
  width: 190px;
  height: 470px;
  background-color: #fff;
  font-size: 14px;
  margin-right: 10px;
}
.content .content-item .bread .item-bread ul {
  margin-top: 10px;
}
.content .content-item .bread .item-bread ul li {
  padding-left: 19px;
  height: 25px;
  line-height: 25px;
  transition: background-color 0.2s ease;
}
.content .content-item .bread .item-bread ul li a {
  color: #333;
}
.content .content-item .bread .item-bread ul li a:hover {
  color: #e1251b;
}
.content .content-item .bread .item-bread ul li span {
  padding: 0 2px !important;
  font-size: 12px;
}
.content .content-item .bread .item-bread ul li:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}
.content .content-item .bread .item-select {
  display: none;
  position: absolute;
  background-color: #fff;
  min-height: 468px;
  border: 1px solid #f7f7f7;
  left: 191px;
  top: 0;
  z-index: 9999;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.content .content-item .bread .item-select .item-s {
  display: none;
  padding: 20px 0 10px;
  width: 798px;
  height: 506px;
}
.content .content-item .bread .item-select .item-s .part1 {
  position: relative;
  float: left;
  width: 600px;
  height: 452px;
}
.content .content-item .bread .item-select .item-s .part1 .channel1 {
  padding-left: 20px;
  height: 24px;
}
.content .content-item .bread .item-select .item-s .part1 .channel1 a {
  float: left;
  margin-right: 10px;
  padding: 0 10px;
  height: 24px;
  background-color: #333;
  line-height: 24px;
  color: #fff;
}
.content .content-item .bread .item-select .item-s .part1 .channel1 a:hover {
  background-color: #e1251b;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 {
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 37px;
  width: 600px;
  height: 506px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 a:hover {
  color: #e1251b;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 dl {
  position: relative;
  width: 580px;
  height: 50px;
  padding-left: 80px;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 dl dt {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 6px;
  width: 70px;
  text-align: right;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 dl dt a {
  color: #222;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 dl dd {
  overflow: hidden;
  padding: 5px 0px;
}
.content .content-item .bread .item-select .item-s .part1 .channel2 dl dd a {
  display: block;
  float: left;
  margin: 3px 0;
  padding: 0 7px;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
}
.content .content-item .bread .item-select .item-s .part2 {
  float: right;
  width: 198px;
}
.content .content-item .bread .item-select .item-s .part2 .p-channel1 {
  margin: 0 auto;
  width: 168px;
  height: 155px;
}
.content .content-item .bread .item-select .item-s .part2 .p-channel1 a {
  overflow: hidden;
  width: 83px;
  height: 35px;
  margin: 0 0 1px 1px;
  background-color: #e7e7e7;
  display: block;
  float: left;
}
.content .content-item .bread .item-select .item-s .part2 .p-channel2 {
  margin: 0 auto;
  width: 168px;
}
.content .content-item .bread .item-select .item-s .part2 .p-channel2 a {
  display: block;
  margin-bottom: 2px;
}
.content .content-item .photo-running {
  position: relative;
  margin-right: 10px;
}
.content .content-item .photo-running .arrow-left {
  left: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.content .content-item .photo-running .arrow-right {
  position: absolute;
  right: 200px;
  text-align: right;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.content .content-item .photo-running .circle {
  z-index: 999;
  position: absolute;
  left: 28px;
  bottom: 7px;
}
.content .content-item .photo-running .circle span {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.4);
}
.content .content-item .photo-running .left-photo {
  position: relative;
  float: left;
  overflow: hidden;
  width: 590px;
  height: 470px;
  margin-right: 10px;
}
.content .content-item .photo-running .left-photo img {
  display: none;
  width: 100%;
  height: 100%;
}
.content .content-item .photo-running .right-photo {
  position: relative;
  float: left;
  width: 190px;
  height: 470px;
}
.content .content-item .photo-running .right-photo .sm-arrow-left {
  position: absolute;
  left: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.content .content-item .photo-running .right-photo .sm-arrow-right {
  position: absolute;
  right: 0;
  text-align: right;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.content .content-item .photo-running .right-photo li {
  display: none;
}
.content .content-item .photo-running .right-photo li .sm-p {
  width: 190px;
  height: 150px;
  margin-bottom: 10px;
}
.content .content-item .photo-running .right-photo li .sm-p a {
  position: relative;
}
.content .content-item .photo-running .right-photo li .sm-p a img {
  width: 100%;
  transition: all .4s ease;
}
.content .content-item .photo-running .right-photo li .sm-p a img:hover {
  opacity: 0.7;
}
.content .content-item .photo-running .right-photo li:hover .sm-arrow {
  display: block;
}
.content .content-item .menu {
  width: 190px;
  height: 470px;
  overflow: hidden;
}
.content .content-item .menu .menu-bread {
  width: 190px;
  height: 470px;
}
.content .content-item .menu .menu-bread .login {
  position: relative;
  height: 102px;
  background: #fff;
}
.content .content-item .menu .menu-bread .login .user-show {
  position: absolute;
  left: 20px;
  top: 13px;
  width: 44px;
  height: 44px;
}
.content .content-item .menu .menu-bread .login .user-show a {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.content .content-item .menu .menu-bread .login .user-show a img {
  width: 100%;
}
.content .content-item .menu .menu-bread .login .user-profit {
  font-size: 12px;
  position: absolute;
  top: 16px;
  left: 74px;
  right: 10px;
}
.content .content-item .menu .menu-bread .login .user-profit .user-welcome {
  cursor: pointer;
  margin-bottom: 2px;
}
.content .content-item .menu .menu-bread .login .user-profit .user-welcome:hover {
  color: #c81623;
}
.content .content-item .menu .menu-bread .login .user-profit a {
  color: #333;
}
.content .content-item .menu .menu-bread .login .user-profit a:hover {
  color: #c81623;
}
.content .content-item .menu .menu-bread .login .fuli {
  position: absolute;
  left: 15px;
  top: 64px;
  font-size: 14px;
}
.content .content-item .menu .menu-bread .login .fuli a {
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #e1251b;
  transition: all 0.4s ease;
}
.content .content-item .menu .menu-bread .login .fuli .vip {
  background: #363634;
  color: #ebd039;
}
.content .content-item .menu .menu-bread .login .fuli a:hover {
  background-color: #c81623;
  color: #fff;
}
.content .content-item .menu .menu-bread .news {
  position: relative;
  height: 130px;
  background-color: #fff;
}
.content .content-item .menu .menu-bread .news .news1 {
  margin-left: 15px;
  height: 20px;
  line-height: 20px;
  padding: 10px 0 0;
}
.content .content-item .menu .menu-bread .news .news1 a {
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 12px;
}
.content .content-item .menu .menu-bread .news .news1 a .more {
  font-size: 12px;
  margin-left: 3px;
}
.content .content-item .menu .menu-bread .news .news1 a:hover {
  color: #f00;
}
.content .content-item .menu .menu-bread .news .news2 {
  height: 88px;
  margin: 15px 15px;
}
.content .content-item .menu .menu-bread .news .news2 ul {
  height: 88px;
  font-size: 12px;
}
.content .content-item .menu .menu-bread .news .news2 ul .news_item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.content .content-item .menu .menu-bread .news .news2 ul .news_item a {
  transition: all 0.2s;
}
.content .content-item .menu .menu-bread .news .news2 ul .news_item:hover a {
  color: #f00;
}
.content .content-item .menu .menu-bread .item-bread1 {
  height: 238px;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size {
  overflow: hidden;
  padding: 5px .5px;
  background: #fff;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul {
  padding-top: 5px;
  height: 225px;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li {
  transition: all .2s;
  float: left;
  width: 63px;
  height: 55px;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a {
  position: relative;
  width: 63px;
  height: 55px;
  display: block;
  text-align: center;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a i {
  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a i img {
  margin: 0 auto;
  width: 28px;
  height: 28px;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a i .visiable {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 28px;
  height: 28px;
  transition: all 0.1s ease;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a span {
  transition: all .2s;
  color: #222;
  font-size: 14px;
  padding-bottom: 3px;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a:hover .s-red {
  color: #c81623;
}
.content .content-item .menu .menu-bread .item-bread1 .bread-size ul li a:hover .visiable {
  visibility: visible;
  opacity: 1;
}
.select-item {
  position: relative;
  transition: all .3s;
}
.select-item .phone-s,
.select-item .original {
  transition: all .3s;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  z-index: 99;
  width: 190px;
  height: 212px;
  background-color: #fff;
  font-size: 12px;
}
.select-item .phone-s .phone-add1,
.select-item .original .phone-add1,
.select-item .phone-s .plane-add1,
.select-item .original .plane-add1,
.select-item .phone-s .hotel-add1,
.select-item .original .hotel-add1 {
  margin-bottom: 13px;
}
.select-item .phone-s .phone-add1 a,
.select-item .original .phone-add1 a,
.select-item .phone-s .plane-add1 a,
.select-item .original .plane-add1 a,
.select-item .phone-s .hotel-add1 a,
.select-item .original .hotel-add1 a {
  margin-right: 2px;
}
.select-item .phone-s .phone-add1 a:hover,
.select-item .original .phone-add1 a:hover,
.select-item .phone-s .plane-add1 a:hover,
.select-item .original .plane-add1 a:hover,
.select-item .phone-s .hotel-add1 a:hover,
.select-item .original .hotel-add1 a:hover {
  color: #e1251b;
}
.select-item .phone-s .phone-add2 .s-item1,
.select-item .original .phone-add2 .s-item1,
.select-item .phone-s .plane-add2 .s-item1,
.select-item .original .plane-add2 .s-item1,
.select-item .phone-s .hotel-add2 .s-item1,
.select-item .original .hotel-add2 .s-item1 {
  height: 146px;
}
.select-item .phone-s .phone-add2 .s-item1 dl,
.select-item .original .phone-add2 .s-item1 dl,
.select-item .phone-s .plane-add2 .s-item1 dl,
.select-item .original .plane-add2 .s-item1 dl,
.select-item .phone-s .hotel-add2 .s-item1 dl,
.select-item .original .hotel-add2 .s-item1 dl {
  margin-bottom: 6px;
}
.select-item .phone-s .phone-add2 .s-item1 dl dt,
.select-item .original .phone-add2 .s-item1 dl dt,
.select-item .phone-s .plane-add2 .s-item1 dl dt,
.select-item .original .plane-add2 .s-item1 dl dt,
.select-item .phone-s .hotel-add2 .s-item1 dl dt,
.select-item .original .hotel-add2 .s-item1 dl dt {
  float: left;
}
.select-item .phone-s .phone-add2 .s-item1 dl dd,
.select-item .original .phone-add2 .s-item1 dl dd,
.select-item .phone-s .plane-add2 .s-item1 dl dd,
.select-item .original .plane-add2 .s-item1 dl dd,
.select-item .phone-s .hotel-add2 .s-item1 dl dd,
.select-item .original .hotel-add2 .s-item1 dl dd {
  margin-left: 12px;
  float: left;
  width: 122px;
}
.select-item .phone-s .phone-add2 .s-item1 dl dd .choose,
.select-item .original .phone-add2 .s-item1 dl dd .choose,
.select-item .phone-s .plane-add2 .s-item1 dl dd .choose,
.select-item .original .plane-add2 .s-item1 dl dd .choose,
.select-item .phone-s .hotel-add2 .s-item1 dl dd .choose,
.select-item .original .hotel-add2 .s-item1 dl dd .choose {
  width: 122px;
  text-align: center;
}
.select-item .phone-s .phone-add2 .s-item1 dl dd .choose option,
.select-item .original .phone-add2 .s-item1 dl dd .choose option,
.select-item .phone-s .plane-add2 .s-item1 dl dd .choose option,
.select-item .original .plane-add2 .s-item1 dl dd .choose option,
.select-item .phone-s .hotel-add2 .s-item1 dl dd .choose option,
.select-item .original .hotel-add2 .s-item1 dl dd .choose option {
  text-align: right;
}
.select-item .phone-s .phone-add2 .s-item1 dl dd .num,
.select-item .original .phone-add2 .s-item1 dl dd .num,
.select-item .phone-s .plane-add2 .s-item1 dl dd .num,
.select-item .original .plane-add2 .s-item1 dl dd .num,
.select-item .phone-s .hotel-add2 .s-item1 dl dd .num,
.select-item .original .hotel-add2 .s-item1 dl dd .num {
  text-align: center;
  width: 122px;
  margin-bottom: 12px;
}
.select-item .phone-s .phone-add2 .s-item1 .tip,
.select-item .original .phone-add2 .s-item1 .tip,
.select-item .phone-s .plane-add2 .s-item1 .tip,
.select-item .original .plane-add2 .s-item1 .tip,
.select-item .phone-s .hotel-add2 .s-item1 .tip,
.select-item .original .hotel-add2 .s-item1 .tip {
  color: #e40015;
  display: block;
  margin-bottom: 6px;
}
.select-item .phone-s .phone-add2 .s-item1 .change,
.select-item .original .phone-add2 .s-item1 .change,
.select-item .phone-s .plane-add2 .s-item1 .change,
.select-item .original .plane-add2 .s-item1 .change,
.select-item .phone-s .hotel-add2 .s-item1 .change,
.select-item .original .hotel-add2 .s-item1 .change {
  display: block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #e1251b;
  transition: all 0.4s ease;
  margin-bottom: 6px;
}
.select-item .phone-s .phone-add2 .s-item1 .getIt,
.select-item .original .phone-add2 .s-item1 .getIt,
.select-item .phone-s .plane-add2 .s-item1 .getIt,
.select-item .original .plane-add2 .s-item1 .getIt,
.select-item .phone-s .hotel-add2 .s-item1 .getIt,
.select-item .original .hotel-add2 .s-item1 .getIt {
  color: #5476db;
  display: block;
}
.select-item .phone-s .phone-add2 .s-item1 .getIt:hover,
.select-item .original .phone-add2 .s-item1 .getIt:hover,
.select-item .phone-s .plane-add2 .s-item1 .getIt:hover,
.select-item .original .plane-add2 .s-item1 .getIt:hover,
.select-item .phone-s .hotel-add2 .s-item1 .getIt:hover,
.select-item .original .hotel-add2 .s-item1 .getIt:hover {
  color: #e1251b;
}
.select-item .phone-s .quxiao,
.select-item .original .quxiao {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 12px;
  margin-left: -10px;
  line-height: 20px;
  text-align: center;
  z-index: 1;
  background: #fff;
  background-color: #ffffff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 100%;
}
.select-item .phone-s .quxiao:hover,
.select-item .original .quxiao:hover {
  background-color: #c81623;
  color: #fff;
}
.select-item .plane-ticket .travel {
  margin-top: 15px;
  margin-right: 15px;
  vertical-align: bottom;
}
.select-item .plane-ticket .t-s {
  margin-right: 15px;
}
.select-item .plane-ticket .hotTic {
  position: absolute;
  right: 0;
  top: 150px;
  display: block;
}
.select-item .plane-ticket #cf {
  margin-bottom: 0px!important;
}
.select-item .hotel dd {
  width: 100px!important;
}
.select-item .hotel dd #md,
.select-item .hotel dd #rq {
  width: 100px;
}
.select-item .hotel dd #md {
  margin-left: 12px;
}
.select-item .hotel #ssd {
  text-align: center!important;
  width: 161px;
  margin-bottom: 15px;
}
.select-item .hotel .hotel-pic {
  position: relative;
  top: -26px;
  left: 88px;
}
.login::after {
  content: '';
  height: 1px;
  width: 170px;
  position: absolute;
  background-color: #f4f4f4;
  left: 10px;
  bottom: 0;
}
.tips::before {
  display: inline-block;
  height: 16px;
  width: 35px;
  text-align: center;
  margin-right: 5px;
  content: attr(data-info);
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
}
.stick:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 30px;
  left: 45%;
  margin-left: -12px;
  color: #e1251b;
  background-color: #e1251b;
  bottom: 0;
  z-index: 3;
}
